
.container{
    height: 1200;
    width: 100
}

body{
    background-image: url(about.jpg);
    background-size: cover;
}

ul{
    margin: 0px;
    padding: 0px;   
}
ul li a{
    text-decoration:none;
     color: white;
      display: block;
}
ul li{
    float:left; 
    width: 120px;
    height: 40px;
    background-color:rgb(27, 26, 26);
    font-size: 20px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    opacity: .6;

}
ul li a:hover{
    background-color: gold;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}





.container{
    height: 1200px;
    width: 100%;
}

.imageabout{
    background-attachment: fixed;
    background-image: url(about.jpg);
}