.body{
    margin: 0%;
    padding: 0%;
}
.thought1{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(simple1.jpg);
    display: table;
    background-attachment: fixed;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(122, 105, 4);
    text-align: center;
    display: table-cell;
}


.thought2{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(simple7.jpg);
    display: table;
    background-attachment: fixed;
}
.thought3{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(simple3.jpg);
    display: table;
    background-attachment: fixed;
}

.thought4{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(simple4.jpg);
    display:table;
    background-attachment: fixed;
}
.thought2 h2{
    text-align: center;
    color: crimson;
    font-size: 28px;

}
.first{
    float: left; 
    width: 33.3%;
    height: 650px;
    background-image: url(phone.png);
    background-repeat: no-repeat;
    background-size: 40px 50px;
    background-position-x: 70px;
    background-position-y: 20px;
    
}
.second{
    float:left ;
    width: 33.3%;
    height: 650px;
    background-image: url(whatsapp.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-x: 90px;
    background-position-y: 20px;
    
    

    
}
.third{
    float: left;
    width: 33.3%;
    height: 650px;
    background-image: url(address.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-x: 90px;
    background-position-y: 20px;

}
p{
    text-align: center;
    color: rebeccapurple;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    font-size: 16px;
    font-weight: bold; 
}

img{
    width: 250px;
    height: 250px;
    opacity: 0.5;
    margin: 10px 0px 0px 80px;
}